{% extends "base.html" %}

{% block title %} Datatables {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <h4 class="card-title">{{ appname }}</h4>
      </div>
      <div class="card-body">
        <table class="table" id="product_table">
          <thead>
            <tr>
              <th scope="col">Book Title</th>
              <th scope="col">Have You Read This?</th>
            </tr>
          </thead>
          {% for wishlists in wishlist %}
          <tbody>
            <tr>
              <td>{{ wishlist.book_name }}</td>
              <td>{{ wishlist.flag }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        <a>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Want To Add Books to
            Your Wishlist?</button>
        </a>
        <p>You have {{ wishlist_count }} books on wishlist!</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wishlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To add a book, simply go to the main page and hover over a book you want to add, then click on the
          button to add them to your wishlist! It's that simple.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}