{% extends "base.html" %}

{% block title %} Datatables {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
            <table id = "product_table" class="table">
            </table>
            <p>You have read {{ readBooks_count }} book(s)!</p>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    async function getProducts() {
        return fetch("{% url 'read_page:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString =`<thead>
                            <tr>
                                <th class="text-left">Read Books</th>
                            <th></th>
                            </tr>
                        </thead>`
        products.forEach((item) => {
            htmlString += `\n

            <tbody>
                <tr>
                    <td>${item.fields.books}</td>
                    <td>
                        <a href="/review/add/${item.pk}"> 
                            <button type="button" rel="tooltip" id="reviewBtn" class="btn btn-success btn-just-icon btn-sm">
                                <i class="material-icons">edit</i>
                            </button>   
                        </a>
                        <a>
                            <button type="button" rel="tooltip" id="deleteBtn" class="btn btn-danger btn-just-icon btn-sm"
                                onclick="deleteProduct(${item.pk})">
                                <i class="material-icons">close</i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>`
        })
        
        document.getElementById("product_table").innerHTML = htmlString 
    }

    refreshProducts()

    function deleteProduct(id) {
        fetch("delete/" + id, {
            method: "POST"
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
</script>

{% endblock javascripts %}