{% extends "base.html" %}

{% block title %} Datatables {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Want To Add Books to
              Your Read Books?</button>
        </a>
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
            <div id="product_table"></div>
        </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Read Books</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <span class="material-icons">
            done
          </span>
          <p>To add a book, simply go to the main page and hover over a book you want to add, then click on the
            button to add them to your read books! It's that simple.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}

<script>
    async function getProducts() {
        return fetch("{% url 'read_page:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString =`<table id = "product_table" class="table">
                            <thead>
                                <tr>
                                    <th class="text-left">Read Books</th>
                                    <th>Write a Review</th>
                                    <th>Delete Book</th>
                                </tr>
                            </thead>`
        products.forEach((item) => {
            console.log(item)
            htmlString += `\n

            <tbody>
                <tr>
                    <td>${item.book_name}</td>
                    <td>
                        <a href="/review/add/${item.book_id}"> 
                            <button type="button" rel="tooltip" id="reviewBtn" class="btn btn-success btn-just-icon btn-sm">
                                <i class="material-icons">edit</i>
                            </button>   
                        </a>
                    </td>
                    <td>
                        <a>
                            <button type="button" rel="tooltip" id="deleteBtn" class="btn btn-danger btn-just-icon btn-sm" onclick="deleteProduct(${item.readBooks_id})">
                                <i class="material-icons">close</i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>`
        })
        
        htmlString += '</table>'
        if (products.length === 0) {
            htmlString += `<p>You haven't read any book</p>`;
        }
        else if (products.length === 1) {
            htmlString += `<p>You have read 1 book</p>`;
        }   
        else if (products.length > 1) {
            htmlString += `<p>You have read ${products.length} books</p>`;
        }

        document.getElementById("product_table").innerHTML = htmlString 
    }

    refreshProducts()

    function deleteProduct(id) {
        fetch("delete/" + id, {
            method: "POST"
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
</script>

{% endblock javascripts %}