<div class="sidebar" data-color="rose" data-background-color="black" data-image="/main/static/assets/img/sidebar-1.jpg">

    <div class="logo">
        <a rel="noopener noreferrer" href="{% url 'main:show_main' %}" class="simple-text logo-mini">
            RO
        </a>
        <a rel="noopener noreferrer" href="{% url 'main:show_main' %}" class="simple-text logo-normal">
            ReadORama
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        {{ request.user.username }}
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:logout' %}">
                                <span class="sidebar-mini"> LO </span>
                                <span class="sidebar-normal"> Logout </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'review:review_main' %}">
                    <i class="material-icons">add</i>
                    <p>Your Review</p>
                </a>
            </li>
            <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'wishlist:wishlist_main' %}">
                    <i class="material-icons">add</i>
                    <p> Wishlist </p>
                </a>
            </li>
            <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="{% url 'read_page:show_read_page' %}">
                    <i class="material-icons">add</i>
                    <p> Read Books </p>
                </a>
            </li>

            <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/landing-admin">
                    <i class="material-icons">add</i>
                    <p> Admin Page </p>
                </a>
            </li>
        </ul>
    </div>
</div>