{% extends "base-admin.html" %}

{% block title %} Datatables {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<form method="POST" action="/landing-admin/edit-book/{{form.instance.id}}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 py-4">
            <label for="name"><i class="material-icons">auto_stories</i>Title</label>
            <input type="text" class="form-control" name="name" id="name" value="{{form.instance.name}}">
        </div>

        <div class="form-group col-md-6 py-4">
            <label for="author"><i class="material-icons">face</i>Author</label>
            <input type="text" class="form-control" name="author" id="author" value="{{form.instance.author}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 py-4">
            <label for="rating"><i class="material-icons">star</i>Rating</label>
            <input type="number" step="0.01" class="form-control" name="rating" id="rating" value="{{form.instance.rating}}">
        </div>

        <div class="form-group col-md-6 py-4">
            <label for="num_review"><i class="material-icons">reviews</i>Reviews</label>
            <input type="text" class="form-control" name="num_review" id="num_review" value="{{form.instance.num_review}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 py-4">
            <label for="price"><i class="material-icons">attach_money</i>Price</label>
            <input type="number" class="form-control" name="price" id="price" value="{{form.instance.price}}">
        </div>

        <div class="form-group col-md-6 py-4">
            <label for="year"><i class="material-icons">calendar_today</i>Year</label>
            <input type="number" class="form-control" name="year" id="year" value="{{form.instance.year}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-5">
            <label for="genre" class="col-form-label"><i class="material-icons">category</i>Genre</label>
            <div class="col-sm-10">
                <select class="form-control" id="genre" name="genre">
                    <option value="Fiction" {% if form.instance.genre == 'Fiction' %}selected{% endif %}>Fiction</option>
                    <option value="Non Fiction" {% if form.instance.genre == 'Non Fiction' %}selected{% endif %}>Non Fiction</option>
                </select>
            </div>
        </div>
    </div>
    
    
    <button value="book" type="submit" class="btn btn-primary"><i class="material-icons">edit</i> Edit</button>
</form>

{% endblock content %}


{% block javascripts %}

{% endblock javascripts %}
